nav {
  display: flex;
  width: 500px;
  border: 1px solid gray;
}
nav > div {
flex-basis: 0;
flex-grow: 1;
position: relative;
b
}
nav >div >a {
  display: block;
  padding: 15px 0px;
  text-align: center;
  text-decoration: none;
  color: #dc0000;
  transition: 200ms;
}
nav >div >a:hover {
  background-color: #dc0000;
  color: #fff;
}
nav >div >div > a {
  display: block;
  padding: 5px ;
  text-decoration: none;
  color: #dc0000;
  border-bottom: 1px solid #dc0000;
  transition: 200ms;
}
nav >div >div > a:hover {
  background-color: #dc0000;
  color: #fff;
}
nav >div >div {
  display: none;
  position: absolute;
}
nav > div:hover >div {
  display: block;
}