.obojeno {
  width: 500px;
  height: 280px;
  border: 2px solid black;

 background: repeating-linear-gradient(90deg,black,black 10px,transparent 10px,transparent 25px),
             radial-gradient(circle at 50% 50%,red 100px,red 100px,transparent 100px);
}